.page3bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.Page3Content {
	width: 90vw;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
	flex-direction: column;
}
.Page3Content h1 {
	font-family: Uni Sans Demo;
	font-style: normal;
	font-weight: normal;
	font-size: 6vw;
	line-height: 1vw;
	text-align: center;

	color: #ffffff;
}
.fadeIn {
	opacity: 1;
	transform: scale(1);
	transition: all 500ms;
	transition: all 500ms;
}
.fadeOut {
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
}
.prizes {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carous {
	width: 80%;
	height: 100%;
}
.cardJ {
	position: relative;
	z-index: 10000;
	margin: 0 2%;
}
.lllk {
	display: inline-block;
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.carous > * {
	text-align: center;
}
.arr {
	cursor: pointer;
}
@media screen and (max-width: 720px) {
	.Page3Content {
		width: 80vw;
		height: 65vh;
		/* background: rgba(255, 255, 255, 0.1); */
		flex-direction: column;
	}
	.Page3Content h1 {
		font-size: 8vh;
	}
	.prizesC p {
		font-family: Uni Sans Demo;
		font-style: normal;
		font-size: 5vh;
		text-align: center;
		color: #ffffff;
		margin-top: 0%;
	}
	.dsa {
		font-size: 100%;
		text-align: justify;
		line-height: 100% !important;
		margin-top: 0;
		font-family: 'acumin-pro' !important;
		font-style: normal;
		font-weight: 500;
		font-size: 2vw;
		line-height: 2vw;
		text-align: justify;

		color: #ffffff;
	}
	.prizee {
		position: relative;
		z-index: 10000;
		margin: 0 2%;
		height: 70%;
	}
}
