.page2bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.Page2Content {
	width: 60vw;
	height: 70vh;

	background: rgba(255, 255, 255, 0.027);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);

	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
	background: rgba(255, 255, 255, 0.027);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	min-height: 500px;
}
.Page2Content h1 {
	font-family: Uni Sans Demo;
	font-style: normal;
	font-weight: normal;
	font-size: 6vw;
	line-height: 1vw;
	text-align: center;

	color: #ffffff;
}
.fadeIn {
	opacity: 1;
	transform: scale(1);
	transition: all 500ms;
	transition: all 500ms;
}
.fadeOut {
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
}
.aboutStuff {
	width: 80%;
	margin: auto;
	overflow-y: scroll;
	position: relative;
}
.aboutCont {
	margin-top: 0;
	font-family: 'acumin-pro';
	font-style: normal;
	font-weight: 500;
	font-size: 2vw;
	line-height: 2vw;
	text-align: justify;

	color: #ffffff;
}
@media screen and (max-width: 720px) {
	.Page2Content {
		width: 90vw;
		height: auto;
		max-height: 80vh;
		flex-direction: column;
	}
	.aboutCont {
		font-size: 100%;
		text-align: justify;
		line-height: 100%;
	}
	.aboutStuff {
		width: 90%;
		padding-bottom: 10%;
	}
	.Page2Content h1 {
		font-size: 9vw;
		line-height: 9vw;
		font-weight: normal;
	}
}
@media screen and (max-width: 600px) {
	.aboutCont {
		font-size: 80%;
		text-align: justify;
		line-height: 120%;
	}
}
