.page7bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.Page7Content {
	width: 70vw;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.027);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);
}
.fadeIn {
	opacity: 1;
	transform: scale(1);
	transition: all 500ms;
	transition: all 500ms;
}
.fadeOut {
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
}
.Page7Content h1 {
	font-family: Uni Sans Demo;
	font-style: normal;
	font-weight: normal;
	font-size: 6vw;
	line-height: 1vw;
	text-align: center;

	color: #ffffff;
}
.sponsors {
	height: 80%;
	width: 100%;
}
.imgs {
	width: 8vw;
	transition: all 500ms;
}
.jb {
	width: 6vw;
}
.imgs:hover {
	transform: scale(1.15);
	transition: all 500ms;
}
.line1 {
	width: 50%;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.line2 {
	width: 70%;

	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.line3 {
	width: 80%;

	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.line4 {
	width: 90%;

	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.line5 {
	width: 100%;

	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
@media screen and (max-width: 720px) {
	.Page7Content {
		width: 80vw;
		height: 65vh;
		flex-direction: column;
	}
	.imgs {
		width: 10vh;
	}
	.line1,
	.line2,
	.line3,
	.line4,
	.line5 {
		width: 100%;
	}
	.jb {
		width: 7vh;
	}
}
