.page7bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.Page7Content {
	width: 50vw;
	height: 60vh;

	background: linear-gradient(
		184.26deg,
		#a354cc 3.47%,
		#9a2aba 43.94%,
		#6c1099 84.8%,
		#5d0d8e 92.58%,
		#540b89 100.75%,
		#3d0678 120.2%
	);
	mix-blend-mode: normal;
	box-shadow: 3px 1px 38px -12px #000000;
	border-radius: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
@media screen and (max-width: 720px) {
	.Page1Content {
		width: 80vw;
		height: 65vh;
		background: rgba(255, 255, 255, 0.1);
		flex-direction: column;
	}
}
