.page4bg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.Page4Content {
	width: 70vw;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
	flex-direction: column;
}
.fadeIn {
	opacity: 1;
	transform: scale(1);
	transition: all 500ms;
	transition: all 500ms;
}
.fadeOut {
	opacity: 0;
	transform: scale(0);
	transition: all 500ms;
	transition: all 500ms;
}
.Page4Content h1 {
	font-family: Uni Sans Demo;
	font-style: normal;
	font-weight: normal;
	font-size: 6vw;
	line-height: 1vw;
	text-align: center;

	color: #ffffff;
}
.judges {
	width: 90%;
	height: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cardJ {
	background: rgba(255, 255, 255, 0.027);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);

	width: 18vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.cardJ img {
	width: 80%;
	box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.cardJ p {
	font-family: Uni Sans Demo;
	font-style: normal;
	/* font-weight: 900; */
	font-size: 3vw;
	text-align: center;

	color: #ffffff;
	text-transform: capitalize !important;
}
.boldd {
	font-weight: 1000 !important;
}
.p2 {
	font-size: 1vw !important;
	margin: 0 10%;
}
@media screen and (max-width: 720px) {
	.Page4Content {
		width: 80vw;
		height: 65vh;
		/* background: rgba(255, 255, 255, 0.1); */
		flex-direction: column;
		margin-top: -20%;
	}
	.judges {
		flex-direction: column;
		justify-content: space-around;
	}
	.cardJ {
		width: 50vw;
		height: 12vh;
		flex-direction: row;
	}
	.cardJ img {
		width: 30%;
		box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.25);
		/* border-radius: 30px; */
		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
		border-radius: 30px;
	}
	.Page4Content h1 {
		font-size: 8vh;
	}
}

.bor {
	border-color: white;
	border-width: 500px;
	border: 5px solid #ffffff;
}
