.accordion {
	width: 80%;
	margin: 1% auto;
	position: relative;
}

.accordion__button {
	padding: 1rem;
	border: none;
	width: 100%;
	text-align: center;
	outline: none;
	height: 10vh !important;
	cursor: pointer;
	border-radius: 28px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'acumin-pro';
	font-style: normal;
	font-size: 200%;

	color: #ffffff;
	background: rgba(56, 183, 237, 0.45);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	border-radius: 28px;

	background: rgba(0, 141, 200, 0.45);
	box-shadow: 4px 0px 20px -7px rgba(0, 115, 199, 0.46);
	border-radius: 28px;
	backdrop-filter: blur(15px);
}

.accordion__drawer {
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	background: rgb(56, 183, 237);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 28px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: rgba(0, 141, 200, 0.45);
	box-shadow: 4px 0px 20px -7px rgba(0, 115, 199, 0.46);
	backdrop-filter: blur(15px);
}

.accordion__paragraph {
	margin: 0;
	padding: 1rem;
	font-family: 'acumin-pro';
	font-style: normal;
	font-size: 150%;

	color: #ffffff;
}
.accordion__paragraph a {
	font-family: 'acumin-pro';
	font-style: bold;
	font-size: 100%;

	color: #ffffff;
}

@media screen and (max-width: 720px) {
	.accordion {
		position: absolute;
		width: 90%;
		margin: 1rem auto;
		position: relative;
	}
	.accordion__drawer {
		/* position: absolute; */
	}
	.accordion__button {
		font-size: 100%;
	}
	.accordion__paragraph {
		font-size: 100%;
		text-align: justify;
	}
}
