.timer {
	width: 100%;
	font-size: 3.5vw;
}
.tim {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
}
.tim p {
	text-align: center;
}
.trtr {
	font-size: 3.5vw;
	font-family: 'Uni Sans Demo';
	font-style: normal;
	font-weight: normal;
	color: white;
}
@media screen and (max-width: 720px) {
	.timer {
		font-size: 10vw;
		margin-bottom: 0;
	}
}
