::-webkit-scrollbar {
	display: none;
}
* {
	/* scrollbar-width: none; */
}
.mainDiv {
	z-index: 1999;
	height: 700vh;
	width: 100vw;
	background: linear-gradient(
		178.33deg,
		#8415aa -0.79%,
		#3d0678 6.05%,
		#100259 12.42%,
		#150864 18.69%,
		#1a1d85 23.78%,
		#2034a9 29.99%,
		#1662d8 36.6%,
		#1f91e4 43.09%,
		#26b1ed 47.72%,
		#71c8ed 52.2%,
		#94d9f6 56.19%,
		#99e0ff 63.55%,
		#6bc9f1 69.44%,
		#77b6e7 73.9%,
		#8895e7 79.37%,
		#9d77d5 84.48%,
		#a938c6 89.96%,
		#8415aa 95.04%,
		#3d0678 98.43%
	);
	background-blend-mode: multiply;
	z-index: 100000;
}
